@font-face{
    font-family: 'roboto';
    src: url("../fonts/Roboto-Regular.ttf");
    
}
body{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        overflow-x:hidden;
        padding: 0;
        margin: 0;
        
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "roboto"; 
}
p, span, b {
    font-family: "roboto"; 
}

#hero{
    #style_slide_uno{
        margin-top: -27%;
        font-size: 255%;
    }
    #style_slide_dos{
        margin-top: -27%;
        font-size: 255%;
    }
    #style_slide_tres{
        margin-top: -27%;
        font-size: 255%;
    }
    #logo{
        object-fit: contain;
        position: absolute;
        margin-top: -260%;
        z-index: 98;
    }
}
.boton_dorado{
    background-color: $color_dorado;
    color: white;

}
.boton_dorado:hover{
    background-color: white;
    color:$color_dorado;
}
.margen_busca{
    margin-bottom: 21px;
    
}
.posicion_buscar{
    margin-left: 12%;
}

#buscador{
    position: relative;
    margin-top: -10%;
    z-index: 2;


    .container{
    margin-top: 34px;
    background-color: #f8f9fa;
    padding: 2%;
    }
    .cont_interno{
        margin-left: 0%;
    }

}

#nav{
    .container{
        position: absolute;
        z-index: 11;

        nav{
            background-color: #e3f2fd03;
        }
    }
    
}
.color_a_nav{
    color: white;
    
}
.color_a_nav:hover{
    color: $color_dorado;
    text-decoration:none;
}
.logo{
     width: 34%;
    height: 0%;
    margin-top: -7%;
    padding: 1%
    }
#texto_logo{
    margin-top: -104px;
    .contenedor_parrafo{
    padding: 8%;
    margin-top: -14%;
    }
}    
.boton_azul{
    background-color: $color_azul_oscuro;
    color: white;
}
.boton_azul:hover{
    background-color: white;
    color: $color_azul;
}
#destacadas{
    margin-top: 7.5rem !important;
    .precio_inmueble{
    position: absolute;
    top: 221px;
    font-size: 9px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: rgba(181, 141, 16, 0.66);
    padding: 16px 45px 11px 45px;
    margin-left: 0%;
    }
    .gestion_inmueble{
        position: absolute;
        top: 0px;
        font-size: 9px;
        color: #ffffff;
        text-align: center;
        letter-spacing: 1.5px;
        background-color: rgba(181, 141, 16, 0.66);
        padding: 12px 41px 11px 45px;
        margin-left: 40%;
    }
    .info_inmueble{
        display: flex;
        list-style: none;
        margin-left: -6%;
        margin-right: -10%;
    }
    .container_li{
        margin-right: 1.5em;
    }
    .color_linea_divisora_Card{
        border-top: 1px solid rgb(238, 238, 238);
    }
    .card-body{
        background-color: $color_azul_oscuro;
    }
    .dorado{
        color: $color_dorado;
    }
    .color_palabras{
        color: white;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .tamaño_swiper_card{
    width: 369px;
    margin-right: 0px;
  }
  .swiper-pagination-bullet-active{
    background: $color_azul_oscuro;
  }
  .boton_cards{
    border-color: $color_dorado;
    background-color: $color_azul_oscuro;
    color: $color_dorado;
  }
  .boton_cards:hover{
    background-color: $color_dorado;
    color: white;
  }
  .contenedor_bot_card{
    margin-left: 43%;
    margin-top: -8%;
  }
  .letra_gruesa{
    color:$color_azul_oscuro;
    font-size: 48px;
    font-weight: bold;
  }
  .main-title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 23%;
    bottom: 79px;
    background-color: #c8ae5c;
    margin: auto;
    
}
.main-title_destacadas::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30%;
    background-color: #c8ae5c;
    margin: auto;
    margin-top: 33%;
    
}
#servicios{
    .cont_servi{
        padding: 6%;
    }
    .cont_icono{
    font-size: 226%;
    padding: 9%;
    }
    .cont_arrendamiento{
        margin: 17px;
    }
    .cont_ventas{
        margin: 3%;
    }
}
