#contact{
    background-image: url(../images/Contacto.jpg);
    margin: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #101734ab;
    }
    .titulo{
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10%;
    }
}
#texto_contacto{
    margin-top: -2%;
    .titulo_cont{
        margin-top: -5%;
        
    }
}
#banner_contador{
    background: url(../images/aseguradoras.jpg);
    padding-top: 80px;
    padding-bottom: 80px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;

    .color_conted{
       
    }
    h5{
        color: white;
    }
    h1{
        color: $color_dorado;
    }
}

#slider_mision_vision{
   h5{
    
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
   }
   p{
       color: black;
   }
   .color{
       color: black;
       font-size: 253%;
   }
   .cont_top{
    margin-bottom: 10%;
    color: $color_dorado;
   }
   .cont_top_valores{
    margin-bottom: 6%;
    
   }
   h2{
    margin-bottom: 5%;
   }
   .color_titulo{
    color: $color_dorado;
   }
   .color_titulo_valores{
       color: $color_azul_oscuro;
   }
   

}