#arrendamientos{
    background-image: url(../images/Gerencia\ comercial.jpg);
    margin: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #101734ab;
    }
    .titulo{
        color: #e9ecef;
    font-size: 48px;
    font-weight: bold;
    padding: 2%;
    }
    .color_servicio{
        margin-top: -5%;
    }
}
#contenido_arrendamientos{
    padding: 7%;
    .color_servicio{
        color: $color_azul_oscuro;
        font-size: 48px;
        font-weight: bold;
    }
    .lista{
        text-align: left;
        list-style: none;
        margin-top: 3%;
    }
}
