#arrendamientos{
    background-image: url(../images/Gerencia_comercial.jpg);
    margin: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.38);
    }
    .boton{
        padding: .84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    }
    
    .color_servicio{
        margin-top: -5%;
    }
}
.titulo{
    color: #e9ecef;
font-size: 48px;
font-weight: bold;
padding: 2%;
}

#contenido_arrendamientos{
    padding: 7%;
    .color_servicio{
        color: $color_azul_oscuro;
        font-size: 48px;
        font-weight: bold;
    }
    .lista{
        text-align: left;
    margin-top: 3%;
    li{
        color: $color_dorado;
    }
    p{
        color: $color_azul_oscuro;
    }
    
}
.lista2{
    text-align: left;
margin-top: 3%;
list-style: none;
li{
    color: $color_dorado;
    span{
        color: $color_dorado;
    }
}
p{
    color: $color_azul_oscuro;
}
}
    .boton{
        padding: .84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    }
}
#ventas{
    background-image: url(../images/Gerencia_comercial.jpg);
    margin: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.38);
    }
}
#administracion{
    background-image: url(../images/administracion_de_inmuebles.jpg);
    margin: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.38);
    }
    .boton{
        padding: .84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    }
}
#symil{
    background-image: url(../images/SAMYL.jpg);
    margin: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.38);
    }
    .boton{
        padding: .84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    }
    
}
#symil2{
    padding: 6%;
    .color_servicio{
        color: $color_azul_oscuro;
        font-size: 48px;
        font-weight: bold;
    }
    .organizacion_texto{
        text-align: justify;
    
    }
}
.posicion_servi{
    margin-top: -25%;
}

.parrafo_Servi{
    margin-top: -12%;
}
    .parrafo{
        margin-top: -37%;
    }

.icono{
    width: 100%;
    object-fit: contain;
    }

    #corretaje{
        background-image: url(../images/corretaje.jpg);
        margin: 0px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        position: relative;
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.38);
        }
        .boton{
            padding: .84rem 2.14rem;
        font-size: .81rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin: .375rem;
        border: 0;
        border-radius: .125rem;
        cursor: pointer;
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
        }
        
    }
    #Gerencia_Comercial{
        background-image: url(../images/Gerencia_comercial.jpg);
        margin: 0px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        position: relative;
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.38);
        }
        .boton{
            padding: .84rem 2.14rem;
        font-size: .81rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin: .375rem;
        border: 0;
        border-radius: .125rem;
        cursor: pointer;
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
        }
    }
    
    #proyecto{
        background-image: url(../images/proyectos_nuevos.jpg);
    margin: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.38);
    }
    .boton{
        padding: .84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    }
    

    
}
.tit{
    font-family: "roboto";
    
}
.dimencion_imagen{
    background-color: white;
    margin-bottom: 10%;
}
.cuadro_button{
    margin-top: 12%;
}
.cuadro_dorado{
    background-color: #b58d10;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -92%;
    z-index: -1;
    margin-top: 7%
}
.estilo_titulo{
    color: #111534;
    font-weight: bold;
}
.dimencion_imagen_facility{
    background-color: white;
    margin-bottom: 15%;
}
.dimencion_imagen_mantenimiento{
    background-color: white;
    margin-bottom: 13%;
}
.cuadro_button_exteriores{
    margin-top: 12%;
    margin-bottom: 9px;
}
.sub_gerencial{
    font-weight: bold;
}
